<!--<p>
</p>

<!--<input [(ngModel)]="searchTerm" /> {{searchTerm | uppercase}}--

<div *ngFor="let jumpstarter of jumpstarters">{{ jumpstarter.lastname | uppercase }}
<img src="{{jumpstarter.picture}}"/>

{{jumpstarter.id | currency:'EUR':true }}
</div>

<ul>
  <li *ngFor="let jumpstarter of jumpstarters"> <span *ngIf="jumpstarter.firstname">{{ jumpstarter.firstname | lowercase }}</span>

{{jumpstarter.telephone}}
  </li>
</ul>

{{jumpstarters[0].firstname}}

<input [(ngModel)]="jumpstarter.firstname" value=""/> <button (click)=addJumpstarter()>Add</button> {{ jumpstarter.firstname }}

<img src="assets/Degu.jpg" width=300/>

<span style="background-color:green;" *ngIf="jumpstarter.firstname"> {{jumpstarter.firstname}}</span>

<a href="details/0">Details</a>

<button (click)="test()">test</button>

<ul>
  <li *ngFor="let jumpstarter of jumpstarters"> {{ jumpstarter.firstname | lowercase }}</li>
</ul>-->

<ul>
  <li *ngFor="let jumpstarter of fireJumpstarter | async">
    {{ jumpstarter.firstname }}
  </li>
</ul>
