
<h1>
  Add a new JumpStartler!
</h1>

  <!-- Name-->
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon3">Name</span>
    <input [(ngModel)]="jumpstarter.firstname" type="text" class="form-control" id="name" aria-describedby="basic-addon3">
  </div>

<!-- Last name-->
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon3">Last name</span>
    <input [(ngModel)]="jumpstarter.lastname" type="text" class="form-control" id="last-name" aria-describedby="basic-addon3">
  </div>

<!-- Phone number -->
<div class="input-group">
  <span class="input-group-addon" id="basic-addon3">Phone#</span>
  <input [(ngModel)]="jumpstarter.telephone" type="text" class="form-control" id="phone-number" aria-describedby="basic-addon3">
</div>

<!-- E-Mail -->
<div class="input-group">
  <span class="input-group-addon" id="basic-addon3">@</span>
  <input [(ngModel)]="jumpstarter.email" type="text" class="form-control" id="e-mail" aria-describedby="basic-addon3">
</div>

<!-- Jumpstart -->
<div class="dropdown">
<button  class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" >
    <span *ngIf="!jumpstarter.jumpstart">JumpStart</span>
    <span *ngIf="jumpstarter.jumpstart"> {{jumpstarter.jumpstart}}</span>
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li *ngFor="let start of starts"><span (click)="jumpstarter.jumpstart=start">{{start}}</span></li>
  </ul>
</div>

<!-- Picture -->
<div class="input-group">
  <span class="input-group-addon" id="basic-addon3">Picture</span>
  <input [(ngModel)]="jumpstarter.picture" type="file" class="form-control" id="picture" aria-describedby="basic-addon3">
</div>

<!-- Homeoffice -->
<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    <span *ngIf="!jumpstarter.homeoffice">Homeoffice</span>
    <span *ngIf="jumpstarter.homeoffice"> {{jumpstarter.homeoffice}}</span>
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li *ngFor="let homeoffice of homeoffices"><span (click)="jumpstarter.homeoffice=homeoffice">{{homeoffice}}</span></li>
  </ul>
</div>

<div class="btn-group" role="group" aria-label="...">
  <button *ngFor="let country of countries" (click)="land=country" type="button" class="btn btn-default">{{country}}</button>
  <!-- <button (click)="land='DE'"  type="button" class="btn btn-default">Deutschland</button>
  <button (click)="land='CH'" type="button" class="btn btn-default">Schweiz</button>
  <button (click)="land='AT'" type="button" class="btn btn-default">Österreich</button>
  <button (click)="land='RU'"type="button" class="btn btn-default">Russland</button> -->
  <img src="../assets/transp.png" class="flag flag-{{land}}" alt="Flagge" width="200"/>
</div>
<br>

<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-default" (click)="addJumpstarter()">Save</button>
</div>
