img {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;

}

.list-group {
  width: 50%;
  padding-bottom: 30px;
  margin: auto;
  display: block;
}

/*.picture-flag {
  text-align: center;
  height: 200px;
  margin: 30px;
  background-image: url("../../assets/HomanSarwary.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}*/

.parent {
  position: relative;
  top: 0;
  left: 0;
  width:200px;
  margin:auto;
  margin-bottom:30px;
}
.image1 {
  position: relative;
  top: 0;
  left: 0;
}
.image2 {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
