
<div class="picture-flag">

      <img class="pers-img" src="../../assets/{{jumpstarter.picture}}" alt="Homan" style="width:200px;height:300px;">

      <img src="../assets/transp.png" class="flag flag-{{jumpstarter.country}}" alt="Flagge" width="300"/>
  <div style="clear:both"></div>
</div>

<ul class="list-group">
  <li class="list-group-item">{{jumpstarter.firstname}} {{jumpstarter.lastname}}</li>
  <li class="list-group-item">{{jumpstarter.telephone}}</li>
  <li class="list-group-item">{{jumpstarter.email}}</li>
  <!-- <li class="list-group-item">
<img src="../assets/transp.png" class="flag flag-{{jumpstarter.country}}" alt="Flagge" width="200"/>
  </li> -->
  <li class="list-group-item">{{jumpstarter.homeoffice}}</li>
  <li class="list-group-item">{{jumpstarter.jumpstart}}</li>
</ul>
