<!-- Search -->
<div id="listControlHeader" class="row">
  <div id="searchBar" class="col-xs-9">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
      <!-- /input-group -->
    </div>
  </div>

  <!-- Add + -->
  <div id="addButton" class="col-xs-3">
    <div class="btn-group" role="group" aria-label="...">
      <input type="button" class="btn btn-default" onclick="location.href='add';" value="Add +" />
    </div>
  </div>

</div>


<!--
<div>city:
  <div *ngFor="let city of offices">{{city.office}}</div>
</div> -->


<table class="table table-hover">
  <thead>
    <tr>
      <th>Foto</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Jumpstart</th>
      <th>Country</th>
    </tr>
  </thead>

  <!-- Tabelle -->
  <tbody>
    <tr *ngFor="let jumpstarter of jumpstarters" (click)="onSelect(jumpstarter)">

      <td>
        <div class=" item ">
          <img src="../../assets/{{jumpstarter.picture}}" />
        </div>
      </td>
      <td>{{jumpstarter.firstname}}</td>
      <td>{{jumpstarter.lastname}}</td>
      <td>{{jumpstarter.jumpstart}}</td>
      <td>
        <div class="flag flag-{{jumpstarter.country}} ">&nbsp;</div>
      </td>

    </tr>

  </tbody>
</table>
